{% extends "master.html.twig" %}

{% block title %}Add your restaurant
{% endblock %}

{% block addHead %}
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({selector: 'textarea[name=description]'});
	</script>
{% endblock %}

{% block content %}

	{% if errorList %}
		<ul>
			{% for error in errorList %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<div class="container mt-3">
		<h2>Add your restaurant</h2>
		<p>Submit your business info:</p>
		<form method="post" enctype="multipart/form-data">

			<div class="mb-3 mt-3">
				<label for="name" class="form-label">Restaurant name:</label>
				<input type="text" class="form-control" name="name" placeholder="Enter name of your restaurant" id="name" value="{{ v.name }}"><br>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Restaurant description:</label>
				<textarea class="form-control" name="description">{{v.description}}</textarea><br>
			</div>
			<div class="mb-3">
				<label for="image" class="form-label">Restaurant image or logo:</label>
				<input type="file" class="form-control" name="image"/><br>
			</div>
			<div class="mb-3">
				<label for="pricing" class="form-label">Pricing range:</label>
				<select name="pricing" required>
					<option value="" disabled selected hidden>Select pricing</option>
					<option name="pricing" {% if pricingRange == 'customer' %} selected="selected" {% endif %} value="$">$</option>
					<option name="pricing" {% if pricingRange == 'customer' %} selected="selected" {% endif %} value="$$">$$</option>
					<option name="pricing" {% if pricingRange == 'customer' %} selected="selected" {% endif %} value="$$$">$$$</option>
					<option name="pricing" {% if pricingRange == 'customer' %} selected="selected" {% endif %} value="$$$$">$$$$</option>
				</select>
			</div>
			{% include "address-form.html.twig" with {
				address: v.address,
				streetNo: v.streetNo,
				street: v.street, 
				appartmentNo: v.appartmentNo, 
				postalCode: v.postalCode, 
				city: v.city, 
				province: v.province
			} %}
			<label for="categories">Choose categories:</label>
			<div>
				{% for key, c in v.categories %}
					{% if (key + 1) is not divisible by(2) %}
						{# Max # of elements in a row is two. if first col in row, start a new row. #}
						<div class="row">
						{% endif %}
						<div class="col m-1">
							    <input type="checkbox" name="categoriesChecked[]" value="{{c.id}}" {% if c.id in v.selectedCategories %} checked {% endif %}> {{c.name}}
						</div>
						{% if (key + 1) is divisible by(2) or loop.last %}
							{# need to close row div, if max cols reached, or if last element (may be an odd number)#}
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<button type="submit" class="btn btn-primary">Add</button>
		</form>
	</div>
{% endblock content %}
{% block endScript %}
	{% include 'address-js.html.twig' with {apiKey, addressType: "establishment"} %}
{% endblock %}
