{% extends "master.html.twig" %}
{% block title %}Menu
{% endblock %}
{% block addHead %}{% endblock %}
{% block content %}
	<div class="container mt-3">
		<h2>Restaurant name: {{restaurant.name}}</h2>
	</div>
	<div class="container mt-3">
		<a href="/add-food/{{restaurant.id}}" class="btn btn-success">
			Add new food item</a>
	</div>
	<div class="container mt-3">
		<h4>Update existing record(s)</h4>
		<table class="table table-striped">
			<tr>
				<th>name</th>
				<th>price</th>
				<th>description</th>
				<th>image</th>
				<th>actions</th>
			</tr>
			{% for f in food %}
				<tr>
					<td>{{f.name}}</td>
					<td>{{f.price}}</td>
					<td>{{f.description}}</td>
					<td><img src="../{{f.imageFilePath}}" style="max-height:300px;object-fit:cover;" alt="food-image"/></td>
					<td>
						<button class="btn btn-primary" onclick="window.location='/food-edit/{{f.id}}';">Edit</button>
						<button class="btn btn-danger" onclick="window.location='/food-delete/{{f.id}}';">Delete</button>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
