{% extends "master.html.twig" %}

{% block title %}List of Your Restaurant(s)
{% endblock %}

{% block content %}

	<h2 class="text-center">List of your restaurant(s)</h2>
	<div class="container mt-3">
		<a type="button" class="btn btn-outline-success" href="/add-restaurant">Add new restaurant</a>
	</div>
	<div class="container mt-3">
		<h4>Update existing record(s)</h4>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th class="text-center">Actions</th>
			</tr>
			{% for restaurant in list %}
				<tr>
					<td>
						{{restaurant.name}}
					</td>
					<td>
						<a type="button" class="btn btn-outline-primary" href="/add-food/{{restaurant.id}}">Add food</a>
						<a type="button" class="btn btn-outline-secondary" href="/food-list/{{restaurant.id}}">Menu</a>
						<a type="button" class="btn btn-outline-dark" href="/restaurants/update/{{restaurant.id}}">Change details</a>
						<a class="btn btn-danger" href="/restaurants/delete/{{restaurant.id}}">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>

{% endblock content %}
