{% extends "admin/admin-master.html.twig"%}
{% block title %}Edit record
{% endblock %}

{% block addHead %}
	
{% endblock %}

{% block content %}

	{% if errorList %}
		<ul>
			{% for error in errorList %}
				<li>{{error}}
				{% endfor %}
			</ul>
		{% endif %}
		<div class="container mt-3">
			<h2>Create record</h2>
			<a href="/admin/user/add" class="btn btn-primary"> Create new user</a>
		</div>

		<div class="container mt-3">
			<h2>Edit record</h2>
			<form method="POST" enctype="multipart/form-data">
				<div class="mb-3 mt-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" id="name" placeholder="Your name" name="name" value="{{v.name}}">
				</div>
				<div class="mb-3">
					<label for="userName" class="form-label">Username</label>
					<input type="text" class="form-control" id="userName" placeholder="Your username" name="userName" value="{{v.userName}}">
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Your email" name="email" value="{{v.email}}">
					<span id="emailIsTaken" class="errorMessage"></span>
				</div>
				<div class="mb-3">
					<label for="pass1" class="form-label">Password</label>
					<input type="password" class="form-control" id="pass1" placeholder="Your password" name="pass1" value="{{v.pass1}}">
				</div>
				<div class="mb-3">
					<label for="pass2" class="form-label">Password (repeated)</label>
					<input type="password" class="form-control" id="pass2" placeholder="Repeat your password" name="pass2" value="{{v.pass2}}">
				</div>
				<div class="mb-3">
					<label for="accountType" class="form-label">Business Owner</label>
					<select class="form-select" required name="accountType">
						<option value="" disabled selected hidden>
							Choose an option</option>
						<option name="accountType" value="customer" {% if accountType == 'customer' %} selected="selected" {% endif %}>NO</option>
						<option name="accountType" value="business" {% if accountType == 'business' %} selected="selected" {% endif %}>YES</option>
					</select>
				</div>
				<div class="mb-3">
					<label for="phone" class="form-label">Phone</label>
					<input type="tel" class="form-control" id="phone" placeholder="Your phone" name="phone" value="{{v.phone}}">
				</div>
				<button type="submit" class="btn btn-primary" name="next">Update record</button>
			</form>
		</div>
	{% endblock content%}
