{% extends "master.html.twig" %}

{% block title %}User list
{% endblock %}

{% block content %}
	<div class="container mt-3">
		<a href="/admin" class="btn btn-success">
			Back to main page</a>
	</div>
	<div class="container mt-3">
		<a href="/register" class="btn btn-success">
			Create new user</a>
	</div>
	<div class="container mt-3">
		<h4>Update existing record(s)</h4>
		<table class="table table-striped">
			<tr>
				<th>#</th>
				<th>name</th>
				<th>username</th>
				<th>email</th>
				<th>account_type</th>
				<th>actions</th>
			</tr>
			{% for u in list %}
				<tr>
					<td>{{u.id}}</td>
					<td>{{u.name}}</td>
					<td>{{u.username}}</td>
					<td>{{u.email}}</td>
					<td>{{u.account_type}}</td>
					<td>
						<button class="btn btn-primary" onclick="window.location='/admin/users/edit/{{u.id}}';">Edit</button>
						<button class="btn btn-danger" onclick="window.location='/admin/users/delete/{{u.id}}';">Delete</button>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock content %}
