{% extends "admin/admin-master.html.twig" %}

{% block title %}User list{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr><th>#</th><th>name</th><th>username</th><th>email</th><th>account_type</th><th>actions</th></tr>
        {% for u in list %}
        <tr>
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td>{{u.account_type}}</td>
            <td>
                <button class="btn btn-primary" onclick="window.location='/admin/products/delete/{{u.id}}';">Delete</button>
                <form action="/admin/user/edit/{{u.id}}">
                    <input class="btn btn-primary" type="submit" value="Edit">
                </form>
            </td>
        </tr>                
        {% endfor %}
    </table>
{% endblock content %}