{% extends "master.html.twig"%}
{% block title %}Edit record
{% endblock %}

{% block addHead %}
	{% include 'address-js.html.twig' with {apiKey, addressType: "address"} %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
$('input[name=email]').keyup(function () {
$.ajax({
url: '/isemailtaken/' + $(this).val(),
type: 'GET',
dataType: 'json'
}).done(function (data) {
$("#emailIsTaken").html(data);
})
});
});
	</script>
{% endblock %}

{% block content %}

	{% if errorList %}
		<ul>
			{% for error in errorList %}
				<li>{{error}}
				{% endfor %}
			</ul>
		{% endif %}

		<div class="container mt-3">
			<h2>Update User</h2>
			<form method="POST" enctype="multipart/form-data">
				<div class="mb-3 mt-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" id="name" placeholder="Name" name="name" value="{{v.name}}">
				</div>
				<div class="mb-3">
					<label for="userName" class="form-label">Username</label>
					<input type="text" class="form-control" id="userName" placeholder="Username" name="userName" value="{{v.username}}">
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Email" name="email" value="{{v.email}}">
					<span id="emailIsTaken" class="errorMessage"></span>
				</div>
				<div class="mb-3">
					<label for="pass1" class="form-label">Password</label>
					<input type="password" class="form-control" id="pass1" placeholder="Password" name="pass1" value="">
				</div>
				<div class="mb-3">
					<label for="phone" class="form-label">Phone</label>
					<input type="tel" class="form-control" id="phone" placeholder="Phone" name="phone" value="{{v.phone}}">
				</div>
				<div class="mb-3">
					<label for="street" class="form-label">Address</label>
					<input type="text" class="form-control" id="street" placeholder="Address" name="street" value="{{a.street}}">
				</div>
								<div class="mb-3">
					<label for="appartmentNo" class="form-label">Appartment Number</label>
					<input type="text" class="form-control" id="appartmentNo" placeholder="Appartment Number" name="appartmentNo" value="{{a.apt_num}}">
				</div>
								<div class="mb-3">
					<label for="postalCode" class="form-label">Postal code</label>
					<input type="text" class="form-control" id="postalCode" placeholder="Postal code" name="postalCode" value="{{a.postal_code}}">
				</div>
								<div class="mb-3">
					<label for="city" class="form-label">City</label>
					<input type="text" class="form-control" id="city" placeholder="City" name="city" value="{{a.city}}">
				</div>
								<div class="mb-3">
					<label for="province" class="form-label">Province</label>
					<input type="text" class="form-control" id="province" placeholder="Province" name="province" value="{{a.province}}">
				</div>
					<input class="btn btn-danger" type="submit" name="submit" value="Update">
				</form>
			</div>
		{% endblock content%}
