    <div class="card-container">
      <div class="panel">
        <div>
          <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg" alt="">
          <span class="sb-title">Address Selection</span>
        </div>
        <input type="hidden" id='street_number' name='streetNo' value="{{streetNo}}"/>
        <input type="hidden" id='route' name='street' value="{{street}}"/>
        <input type="text" placeholder="Address" name="address" id="location" value="{{address}}"/>
        <input type="text" placeholder="Apt, Suite, etc (optional)" name="appartmentNo" value="{{appartmentNo}}"/>
        <input type="text" placeholder="City" id="locality" name='city' value="{{city}}" />
        <div class="half-input-container">
          <input type="text" class="half-input" placeholder="State/Province" id="administrative_area_level_1" name="province" value="{{province}}"/>
          <input type="text" class="half-input" placeholder="Zip/Postal code" id="postal_code" name="postalCode" value="{{postalCode}}"/>
        </div>
        {# <button class="button-cta">Select Address</button> #}
      </div>
      <div class="map" id="map"></div>
    </div>