    <div class="card-container">
      <div class="panel">
        <div>
          <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg" alt="">
          <span class="sb-title">Address Selection</span>
        </div>
        <input type="hidden" id='street_number' name='streetNo' value="{{v.streetNo}}"/>
        <input type="hidden" id='route' name='street' value="{{v.street}}"/>
        <input type="text" placeholder="Address" id="location"/>
        <input type="text" placeholder="Apt, Suite, etc (optional)" value="{{v.appartmentNo}}"/>
        <input type="text" placeholder="City" id="locality"/>
        <div class="half-input-container">
          <input type="text" class="half-input" placeholder="State/Province" id="administrative_area_level_1" value="{{v.province}}"/>
          <input type="text" class="half-input" placeholder="Zip/Postal code" id="postal_code" value="{{v.postalCode}}"/>
        </div>
        <input type="text" placeholder="Country" id="country"/>
        {# <button class="button-cta">Select Address</button> #}
      </div>
      <div class="map" id="map"></div>
    </div>