{% extends "master.html.twig" %}
{% block title %}Home page
{% endblock %}
{% block addHead %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			let desc = false;
			let sortType = 0;
			$('#sorting-icon').hide();
			$('#price-sorting').click(function () {
				desc = !desc;
				$('#sorting-icon').show();
				$('#price-sorting').css('color', 'white');
				$('#price-sorting').css('background-color', '#ff0001');
				if (desc) {
					flip('#sorting-icon', 1);
				} else {
					flip('#sorting-icon', -1);
				}
				sortType = desc ? 0 : 1;
				$.ajax({
					url: '/api/restaurant/sort/' + sortType,
					type: 'GET',
					dataType:'json'
				}).done(function(data) {
					let allItems = "";

					data.restaurants.forEach(resto => {
						let categories = '';
						data.categories.forEach(category => {
							if (category.restaurant_id === resto.id) {
							categories += category.name + ", ";
							}
						})
						categories = categories.substring(0, categories.length - 2);
						allItems += `
						<a href="/restaurant/${resto.id}">
						<section class="my-4 rounded shadow">
							<div class="w-100">
								<img class="img-fluid rounded-top w-100" style="max-height:300px;object-fit:cover;" src="${resto.imageFilePath}"/>
							</div>
							<div class="p-3">
								<h3>${resto.name}</h3>
								<p>${resto.pricing}
									-
										${categories} 
										</p>
									</p>
								</div>
							</section>
						</a>
					`
					});
					$('#restaurant-list').html(allItems);	
				})
			})
		})
	</script>
{% endblock %}

{% block content %}
	{% if userSession %}
		<div class="m-4">
			<div class="text-center">
				<div>
					<h3>
					<b>
						<span style="color:#ff8400">Deliver</span>
						<span style="color:#ff0001">Eats</span>
					</b>
					</h3>
				</div>
			</div>
			<div class="mt-3 mb-3">
				<div id="category-nav">
					{% for c in categories %}
						<div class="text-center">
							<img src="{{c.imageFilePath}}"/>
							<div>{{c.name}}</div>
						</div>
					{% endfor %}
				</div>
				<div class="d-flex">
					<div id="price-sorting" class="clickable d-flex rounded align-items-center gap-20 mt-2 p-2 shadow-sm">
						<div>Price</div>
						<div id="sorting-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            				<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        				</svg></div>
					</div>
				</div>
			</div>
			<div id="restaurant-list">
				{% for r in restaurants %}
					<a href="/restaurant/{{r.id}}">
						<section class="my-4 rounded shadow">
							<div class="w-100">
								<img class="img-fluid rounded-top w-100" style="max-height:300px;object-fit:cover;" src="{{r.imageFilePath}}"/>
							</div>
							<div class="p-3">
								<h3>{{r.name}}</h3>
								<p>{{r.pricing}}
									-
									{% for pair in rc %}
										{% if pair.restaurant_id is same as r.id %}
											{% for c in categories %}
												{% if c.id is same as pair.category_id %}
													 {{c.name}} 
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
								</p>
							</p>
						</div>
					</section>
				</a>
			{% endfor %}
		</div>
	</div>
{% else %}
<div id="starting-page">
	<h1 class="font-700">Deliver<span class="text-color1">Eats</span></h1>
	<h2>We <b>deliver</b> your <b>eats</b></h2>
	<div class="d-flex gap-20 mt-4 mx-auto">
		<a class="btn bg-white" href="/register">Get Started</a>
		<a class="btn text-white bg-color1" href="/login">Sign In</a>
	</div>
</div>
{% endif %}{% endblock %}

{% block endScript %}
{% endblock %}