{% extends "master.html.twig" %}
{% block title %}Home page
{% endblock %}
{% block addHead %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	{% include 'address-js.html.twig' with {apiKey, addressType: "address"} %}
	<script>
		let addressId = null;
$(document).ready(function () {
	$('#changeAddress').click(function () {
	let street = $('input[name="street"]').val();
	let apt_num = $('input[name="appartmentNo"]').val();
	let city = $('input[name="city"]').val();
	let province = $('input[name="province"]').val();
	let postal_code = $('input[name="postalCode"]').val();
	let addressObj = {
	province,
	city,
	street,
	apt_num,
	postal_code
	}
	$.ajax({
		url: '/api/address/' + addressId,
		type: 'PUT',
		data: JSON.stringify(addressObj),
		dataType: 'json'
	}).done(function () {
		alert('updated successfully');
		hideModal();
	})
})
});
</script>
{% endblock %}

{% block content %}
	{% if userSession %}
		<div class="m-4">
			<div class="text-center">
				<div>
					<h3>
					<b>
						<span style="color:#ff8400">Deliver</span>
						<span style="color:#ff0001">Eats</span>
					</b>
					</h3>
				</div>
			</div>
			<div class="mt-3 mb-3">
				<div id="category-nav">
					{% for c in categories %}
						<div class="text-center">
							<img src="{{c.imageFilePath}}"/>
							<div>{{c.name}}</div>
						</div>
					{% endfor %}
				</div>
				<div class="d-flex">
					<div class="p-1">Price</div>
					<div class="p-1">Rating</div>
				</div>
			</div>
			<div>
				{% for r in restaurants %}
					<a href="/restaurant/{{r.id}}">
						<section class="my-4 rounded shadow">
							<div class="w-100">
								<img class="img-fluid rounded-top w-100" style="max-height:300px;object-fit:cover;" src="{{r.imageFilePath}}"/>
							</div>
							<div class="p-3">
								<h3>{{r.name}}</h3>
								<p>{{r.pricing}}
									-
									{% for pair in rc %}
										{% if pair.restaurant_id is same as r.id %}
											{% for c in categories %}
												{% if c.id is same as pair.category_id %}
													 {{c.name}} 
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
								</p>
							</p>
						</div>
					</section>
				</a>
			{% endfor %}
		</div>
	</div>
{% else %}
	<h1>Food's Ninja is Here!</h1>
	<h2>Life is better when you're a member</h2>
	<a href="/register">Get Started</a>
	<a href="/login">Sign In</a>
{% endif %}{% endblock %}
