{% extends "master.html.twig" %}

{% block title %}List of Your Restaurant(s){% endblock %} 

{% block content %}

<h4> List of your restaurant(s) </h4>
<table>
    <tr><th>Name</th><th>Description</th><th>Image</th><th>Pricing</th><th>**Manage your menu**</th></tr>
    {% for restaurant in list %}
        <tr>
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.description}}</td>
            <td><img src="{{restaurant.imageFilePath}}" width="150"></td>
            <td>{{restaurant.pricing}}</td>
            <td><a href="/add-food/{{restaurant.id}}">ADD FOOD</a></td>
        </tr>

    {% endfor %}
</table>

{% endblock content %}