{% extends "master.html.twig"%}
{% block title %}Registration
{% endblock %}

{% block addHead %}
{% include 'address-js.html.twig' with {apiKey, addressType: "address"} %}
{% endblock %}

{% block content %}

{% if errorList %}
	<ul>
		{% for error in errorList %}
			<li>{{error}}
			{% endfor %}
		</ul>
	{% endif %}


	<form class="" method="post" enctype="multipart/form-data">
		<h1>Registration</h1>
        Name:<br>
		<input type="text" name="name" value="{{v.name}}"><br>
		User Name:<br>
		<input type="text" name="userName" value="{{v.userName}}"><br>
		Email:<br>
		<input type="text" name="email" value="{{v.email}}"><br>
		Password:
		<br><input type="password" name="pass1" value="{{v.pass1}}"><br>
		Password (repeated):<br><input type="password" name="pass2" value="{{v.pass2}}"><br><br>
        {% include "address-form.html.twig" with {v} %}
        Business Owner:
        <select required name="accountType">
            <option value="" disabled selected hidden> Choose an option</option>  
            <option name="accountType" value="customer"{% if accountType == 'customer' %} selected="selected"{% endif %}>NO</option>
            <option name="accountType" value="business"{% if accountType == 'business' %} selected="selected"{% endif %}>YES</option> 
        </select>
        Your account type:<br>
        customer<input type="radio" value="{customer}" name="account_type"><br>
        businees_owner<input type="radio" value="{businees_owner}" name="account_type"><br>

        
		{# <input id="autocomplete" type="text" name="address" placeholder="Enter a place"></input>
	Enter Your address:
	<br>
	<!--Street#:<br> <input type="number" name="streetNo" value=""><br>-->
	Street:<br><input type="text" name="street" value="{{v.street}}"><br>
	Apartment#:
	<br><input type="number" name="apartmentNo" value="{{v.appartmentNo}}"><br>
	Postal Code:<br><input type="text" name="postalCode" value="{{v.postalCode}}"><br>
	City:
	<br><input type="text" name="city" value="{{v.city}}"><br>
	Province:
	<br><input type="text" name="province" value="{{v.province}}"><br>
	Province:
	<select name="province">
		<option value="None" selected>None</option>
		<option value="AB">AB</option>
		<option value="BC">BC</option>
		<option value="MB">MB</option>
		<option value="NB">NB</option>
		<option value="NL">NL</option>
		<option value="NT">NT</option>
		<option value="NS">NS</option>
		<option value="NU">NU</option>
		<option value="ON">ON</option>
		<option value="PE">PE</option>
		<option value="QC">QC</option>
		<option value="SK">SK</option>
		<option value="YT">YT</option>
	</select> #}
	<label for="phone">Phone:
	</label><br>
	<input type="text" name = "phone" value="{{v.phone}}"><br>
	<input class="center btn brand z-depth-0" type="submit" name="next" value="Continue">
</form>
{% endblock content%}
