{% extends "master.html.twig" %}
{% block title %}Add your Items!
{% endblock %}
{% block addHead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$("button").click(function(e) {
		e.preventDefault();
			let id = $(this).attr("id");
			$.ajax({
				url: '/api/cart',
				type: 'POST',
				dataType:'json',
				data: JSON.stringify({
					id: id
				}),
				headers: { "Content-Type": "application/json; charset=UTF-8" },
				statusCode: {
					403: function() {
						alert("Authentication failed");
					},
					404: function() {
						$("#cartItems").html("No items in your cart!");
					}
				}
			}).done(function(data){
				$(`#food${id}`).html(data)
			})
		})
	})
	</script>
{% endblock %}
{% block content %}

	<div>
		<img src="../{{restaurant.imageFilePath}}" alt="Restuarant Image"/>
		<div class="d-flex container-fluid justify-content-between">
			<div>
				<h2>{{restaurant.name}}</h2>
				<p>
					{{restaurant.pricing}}
				</p>
			</div>
			<div>
				Rating
			</div>
		</div>
	</div>
	<div>
		{% for f in food %}
			<section class="d-flex">
				<img src="../{{f.imageFilePath}}" alt="food-image"/>
				<div class="flex-grow-1">
					<div class="d-flex justify-content-between">
						{# flex here #}
						<h3>{{f.name}}</h3>
						<div>{{f.price}}</div>
					</div>
					<p>{{f.description}}</p>
					<button id="{{f.id}}" class="btn btn-danger">add item</button>
					<span id="food{{f.id}}"><span>
				</div>
			</section>
		{% endfor %}
	</div>

{% endblock %}
